@layer base {
  html {
    font-size: var(--p-typography-font-size);
    color: var(--text-default);
    background-color: var(--surface-page);
  }

  body {
    background-color: var(--surface-page);
  }

  :where(.pi) {
    line-height: 1;
    vertical-align: -0.125em;
  }

  :where(.p-button-icon.pi, .p-inputicon.pi) {
    vertical-align: middle;
  }
}
